<div class="container center-block">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 main-col">

            <div id="landing">
                <div id="nav">
                    <ul>
                        <li><a href="#/home">home</a></li>
                        <li><a href="#/projects">projects</a></li>
                        <li><a href="#/contacts">contacts</a></li>
                    </ul>
                </div>

                <div class="title">
                    homepage of<br/>web developer & JavaScript jedi<br/>

                    <div class="ribbon">
                        <div>
                            Denis Narushevich
                        </div>
                    </div>
                </div>
                <a id="arrow" href="#/projects">

                </a>
            </div>

            <div id="projects">
                <div class="sectionTitle">Projects</div>
                <div class="projects"></div>

                <a class="more" href="javascript:void(0);">Show more</a>

                <div class="more-hr"></div>
            </div>

            <div id="contacts">
                <div class="sectionTitle">Contacts</div>
                <a class="gmail" href="javascript:void(0);"></a>
                <a class="skype" href="javascript:void(0);"></a>
                <a class="linkedin" href="javascript:void(0);"></a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
